body{
    font-size: 16px;
    font-family: 'Courier New', Courier, monospace;
}
.d-flex{
    display: flex;
    flex-direction: row;
}
.pos-center{
    margin: 0 auto;
    width: 400px;
}
input{
    height: 20px;
  
}
.calculate{
    display: inline-block;
    margin: 20px 0;
    width: 172px;
    height: 25px;
    background-color: coral;
    border: brown 2px solid;    
}
.result{
    font-weight: bold;
    background-color: red;
    color: white;
}
.answer-section{
    width: 300px;
}